<!DOCTYPE html> 
<html>
    <head>

    <meta charset="UTF-8">

    <!--Title of webpage-->
    <title>Schedule - BWSLOPS</title>

        <!--Calls .css files-->
        <link rel= "stylesheet" href="./css/topnavstyle.css">
        <link rel= "stylesheet" href="./css/buttonstyle.css">

        <!--Add Icon Library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/font-awesome.min.css">

        <!--Settings for background image-->
        <style>
            body{
                background-image: url('../images/drops.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                }
        </style>

    </head>

   <h1>
   <center>
   <img src="../images/bwlogo.png" alt="bwsl logo" width="300" height="200" />
   </center>
   BWSLOPS, Schedule
   </h1>
  
   <!--Navigation bar menu options-->
<div class="topnav">
    <a href="/login"><i class="fa fa-user-circle"></i></a>
    <a href="/"><i class="fa fa-home"></i></a>
    <a href="/qa"><i class="fa fa-check-circle"></i></a>
    <a href="/production"><i class="fa fa-industry"></i></a>
    <a href="/maintenance"><i class="fa fa-cogs"></i></a>
    <a href="/news"><i class="fa fa-envelope"></i></a>
    <a href="/schedule"><i class="fa fa-calendar"></i></a>
</div>

<br> 

<body>

    <!--For page contents to appear in a box-->
    <div style="background: ghostwhite; 
    font-size: 15px; 
    padding: 10px; 
    border: 1px solid lightgray; 
    margin: 5px;
    opacity: 0.75;">]

<form class="search" action="/search/schedule" method="GET"> 
    <center>
        <h2><b>Choose Action</b></h2>
        <label> <b>Go To: &nbsp</b> </label> 
        <input list="Schedules" id="Schedule" name="Schedule" placeholder="Find...">
        <datalist id="Schedules">
            <option value="">
            <option value="">
            <option value="">
            <option value="">
        </datalist>
        <button type="submit" class="button"><i class="fa fa-search"></i></button>
    </center>
</form>

</body>
    </html>
