<!DOCTYPE html> 
<html>
    <head>

    <meta charset="UTF-8">

    <!--Webpage name-->
    <title>Home - BWSLOPS</title>

        <!--Calls .css file with settings for navigation bar-->
        <link rel= "stylesheet" href="./css/topnavstyle.css">

        <!--Add Icon Library-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/font-awesome.min.css">

        <!--Settings for background image-->
        <style>
            body{
                background-image: url('../images/drops.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
                }
        </style>

    </head>

   <h1>
   <center>
   <img src="../images/bwlogo.png" alt="bwsl logo" width="300" height="200" />
   </center>
   Logged Out, Guest
   </h1>
  
   <!--Navigation bar menu options-->
<div class="topnav">
    <a href="/users/login"><i class="fa fa-user-circle"></i></a>
    <a href="/"><i class="fa fa-home"></i></a>
    <a href="/qa"><i class="fa fa-check-circle"></i></a>
    <a href="/production"><i class="fa fa-industry"></i></a>
    <a href="/maintenance"><i class="fa fa-cogs"></i></a>
    <a href="/news"><i class="fa fa-envelope"></i></a>
    <a href="/schedule"><i class="fa fa-calendar"></i></a>
</div>

<br> 

<body>

</body>
    </html>
